.sec {
    display: flex;
    margin-top: 100px;
    background-color: white;
    justify-content: center;
    gap: 100px;
    padding-bottom: 70px;
}
.sec h1 {
    color: #0A183D;
    font-size: 63px;
    line-height: 60px;
    font-weight: 600;
}
.sec p {
    color: #827080;
}
.sec button {
    padding: 22px;
    width: 180px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    background-color: #FC0254;
    color: white;
}



button {
    border: none;
    text-align: center;    
    cursor: pointer;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
    transition: all 0.5s;
  }
  
  button{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  button:after {
    content: '»';
    position: absolute;
    opacity: 0;  
    top: 14px;
    right: -20px;
    transition: 0.5s;
  }
  
  button:hover{
    padding-right: 24px;
    padding-left:8px;
  }
  
  button:hover:after {
    opacity: 1;
    right: 10px;
  }