.map {
    display: flex;
}
.map p {
    color: #959BAB;
}
.map h1 {
    color: #0A183D;
    font-size: 50px;
}
.map img {
    height: auto;
    width: 610px;
    object-fit: cover;
}
form {
    padding: 80px;
}
.road {
    padding-top: 10px;
    padding-bottom: 10px;
}
.your {
    margin-top: 50px;
    display: flex;
    gap: 30px;
    margin-bottom: 20px;
}
.your input {
    background-color: #F5F6FA;
    padding: 20px;
    padding-right: 40px;
    padding-left: 30px;
    width: 200px;
    border-radius: 15px;
    border: none;
    outline: none;
}
.subj input {
    background-color: #F5F6FA;
    padding: 20px;
    width: 530px;
    border: none;
    outline: none;
    margin-bottom: 20px;
    border-radius: 15px;
}
.mess textarea {
    background-color: #F5F6FA;
    padding: 20px;
    width: 530px;
    border: none;
    outline: none;
    margin-bottom: 20px;
    border-radius: 15px;
    padding-bottom: 100px;
}
.map button {
    padding: 22px;
    width: 180px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    background-color: #FC0254;
    color: white;
}


button {
    border: none;
    text-align: center;    
    cursor: pointer;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
    transition: all 0.5s;
  }
  
  button{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  button:after {
    content: '»';
    position: absolute;
    opacity: 0;  
    top: 14px;
    right: -20px;
    transition: 0.5s;
  }
  
  button:hover{
    padding-right: 24px;
    padding-left:8px;
  }
  
  button:hover:after {
    opacity: 1;
    right: 10px;
  }